fastapi
uvicorn
celery
pydantic
pydantic-settings
python-multipart
python-dotenv
boto3
PyYAML
slowapi
fastapi-azure-auth
sqlalchemy
mysql-connector-python
in-toto
cryptography
cyclonedx-python-lib[validation]